.componentNameCapitalize {
  @each $color in green, yellow, red {
    @text-transform $color, capitalize, $colorTransformed {
      &--bg$(colorTransformed) {
        background-color: $color;
      }
    }
  }
}

.componentNameLowerCase {
  @each $color in green, yellow, red {
    @text-transform $color, lowerCase, $colorTransformed {
      &--bg$(colorTransformed) {
        background-color: $color;
      }
    }
  }
}

.componentNameCamelCase {
  @each $color in green, yellow, red {
    @text-transform $color, camelCase, $colorTransformed {
      &--bg$(colorTransformed) {
        background-color: $color;
      }
    }
  }
}

.componentNameLowerFirst {
  @each $color in green, yellow, red {
    @text-transform $color, lowerFirst, $colorTransformed {
      &--bg$(colorTransformed) {
        background-color: $color;
      }
    }
  }
}

.componentNameUpperCase {
  @each $color in green, yellow, red {
    @text-transform $color, upperCase, $colorTransformed {
      &--bg$(colorTransformed) {
        background-color: $color;
      }
    }
  }
}

.componentNameUpperFirst {
  @each $color in green, yellow, red {
    @text-transform $color, upperFirst, $colorTransformed {
      &--bg$(colorTransformed) {
        background-color: $color;
      }
    }
  }
}
